*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Inter, Helvetica, Arial, sans-serif;
}

body {
    background-color: #F8E7C9;
    
}




@font-face {
    font-family: Inter-Light ;
    src: url("../Inter/static/Inter-Light.ttf") ;
}


@font-face {
    font-family: Inter-Medium ;
    src: url("../Inter/static/Inter-Medium.ttf") ;
}

@font-face {
    font-family: Inter-Regular ;
    src: url("../Inter/static/Inter-Regular.ttf") ;
}

@font-face {
    font-family: Inter-SemiBold ;
    src: url("../Inter/static/Inter-SemiBold.ttf") ;
}

@font-face {
    font-family: Inter-Thin ;
    src: url("../Inter/static/Inter-Thin.ttf") ;
}

@font-face{
    color: black;
    
}


a {
    text-decoration: none;
    
}

nav {
    display: flex;
    width: 100%;
    height: 77px;
    justify-content: space-between ;
    flex-direction: row;
    padding-top: 48px;
    padding-left: 50px;
    padding-right: 50px;
}


nav-menu {
    width: 430px;
    display: flex;
    justify-content: space-between ;
}

nav a{
    color: black;
  
    font-family: Inter-light;
    letter-spacing: 0.5px;
    font-size: 18px;
}


.H1{

font-family: Inter-light;
font-size: 18px;
}




footer {
display: flex;
position: fixed;
bottom: 0px;
width: 100%;
justify-content: right;
padding-left: 50px;
padding-right: 50px;
padding-bottom: 38px;

}




article h1{
    display: flex;
    width: 700px;
    font-family: Inter-light;
    font-size: 18px;
    justify-content: left;
    padding-top: 269px;
    padding-left: 50px;
    
}


article p{
    display: flex;
    width: 560px;
    height: 300px;
    font-family: Inter-light;
    font-size: 16px;
    justify-content: left;
    padding-left: 50px;
    padding-top: 19px;
}

article{
    height: 70vh;
    width: 400px;
    font-size: 18px;
}






